<%= form_for([@post, @tag], :remote=>true, :url=>new_tag_path(:post_id=>@post)) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions span7">
    Add Tag:<br/>
    <%= f.text_field :name, :class=>"span12", :required=>true, :id=>"tag" %><br/>
  </div>

<% end %>
