<h2>Recent posts</h2>
<%= link_to 'Create New Post', new_post_path, :class=>"pull-right" %>

<table>
  <% @posts.each do |post| %>
    <tr><h4><%= link_to post.title.camelize, post_path(post.id) %></h4></tr>
    <tr><%= simple_format(truncate(post.description, :length => 400)) %></tr>
    <tr>
      <% if current_user.has_role? :admin or current_user.has_role? :moderator, post %>
        <%= link_to 'Edit', edit_post_path(post) %>&nbsp;|&nbsp;
        <%= link_to 'Destroy', post_path(post.id), method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp;|&nbsp;
      <% end if current_user.present? %>
      <span style="color: #666;">Total&nbsp;<%= post.comments.count %>&nbsp;comments.</span>
      <%= link_to "Show More ->", post_path(post.id), :class=>"pull-right" %>
    </tr>
    <hr/>
  <% end %>
</table>
<% content_for :sidebar do %>
  <h3>Tags</h3>
  <ul class="inline">
    <% @tags.each do |tag| %>
      <%= link_to tag.name, posts_path(:tag_name=>tag.name)  %>
    <% end %>
  </ul> 
<% end %>
