<!-- <p id="notice"><%#= notice %></p> -->
	<h3><%= @post.title.camelize %></h3>	
	<%= simple_format(@post.description) %><br/>	
  <% if current_user && @post.user_id == current_user.id %>
		<%= link_to 'Edit', edit_post_path(@post) %> |
		<%= link_to 'Back', posts_path %>
	<% end %>
<h4>Comments:</h4>
<div class="comment_listing">
	<% @comments.each do |comment| %>
		<% if comment.id.present? %>
			<p><b><%= comment.user_id.present? ? User.find(comment.user_id).email : "Unknown"  %> says:</b>
				<% if current_user.has_role? :admin or current_user.has_role? :user, comment %>
					<%= link_to "X", destroy_comment_path(:id=>comment.id, :post_id=>@post.id), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"pull-right danger" %><br/>
	      <% end if current_user.present? %></p>
			<%= comment.content %><br/><br/>
			<hr/>			
		<% end %>
	<% end %>
</div>
<%= render "comments/form" %>
<% content_for :sidebar do %>
  <h4>Tags in this blog</h4>
  <ul class="inline tag_listing">
    <% @tags.each do |tag| %>
      <%= link_to tag.name, posts_path(:tag_name=>tag.name) if tag.id.present?  %>
    <% end %>
  </ul>   
	<%= render "tags/form" %>
<% end %>