<!DOCTYPE html>
<html>
<head>
  <title>Test Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
	  <%= render 'menu' %>
	</header>
  <div class="container">
    <div class="content">
		  <div class="row-fluid">
				<div class='row'>
					<div class='span9 offset1'>
						<div id='notice'>
					  	<%= render 'notice' %>
					  </div>
						<%= yield %>
					</div>
          <div class='span2'>
            <%= yield :sidebar%>
          </div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
    <div class="container"><br/><br/><br/>
      <p class="offset5">&copy; 2013 All Rights Reserved</p>
    </div>
  </div>
</body>
</html>
